@use '../abstracts' as *;

.games {

    @include default-component;

    &__grid {
        display: grid;
        grid-template-columns: repeat(2, minmax(12rem, max-content));
        gap: 2rem;
        justify-content: center;
    }

    &__grid-item {
        font-size: 2rem;

        &--p4,
        &--three-bosses {
            @include default-btn;

            &:hover {
                @include default-btn-hover;
            }

            &:active {
                @include default-btn-active;
            }

        }
    }

    @media only screen and (max-width: $bp-m) {
        &__grid {
            grid-template-columns: minmax(12rem, max-content);
        }
    }
}

@include generate-media-queries($bps-games);
